<p>page1 works!</p>
c'est la page 1 : 

eee
<br>
{{nom}}



<table border="2" class="table">
    <tr>
      <th>Mois</th>
      <th>Data</th>
    </tr>
    <tr>
      <td>Janvier</td>
      <td>10.01.2014</td>
    </tr>
    <tr>
      <td>Février</td>
      <td>10.01.2014</td>
    </tr>
  </table>


  <img src="../../assets/palastine.jpg">
<br><br>

  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-secondary">Secondary</button>


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>